@import "mocha.css";

@define-color background @base;
/* @define-color text @text; */

@define-color clock @subtext1;
@define-color battery @rosewater;
@define-color battery_charging @green;
@define-color battery_critical @red;
@define-color power_profile_performance @red;
@define-color power_profile_balanced @sky;
@define-color power_profile_saver @green;
@define-color cpu @green;
@define-color memory @mauve;
@define-color disk @peach;
@define-color backlight @teal;
@define-color network @blue;
@define-color network_disconnected @red;
@define-color pulseaudio @yellow;
@define-color pulseaudio_muted @overlay2;
@define-color wireplumber #fff0f5;
@define-color wireplumber_muted @red;
@define-color temperature @peach;
@define-color temperature_critical @red;
@define-color tray @sapphire;
@define-color idle_inhibitor shade(#ecf0f1, 0.6);
@define-color idle_inhibitor_active #ecf0f1;
@define-color language @teal;
@define-color keyboard_state @lavender;
@define-color privacy_screenshare @peach;
@define-color privacy_audio_in @green;
@define-color privacy_audio_out @blue;

* {
  font-family: "Noto Sans Mono", "Font Awesome 6 Free", "Font Awesome 6 Brands",
    monospace;
  font-size: 13px;
}

window#waybar {
  background-color: @background;
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @text;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @text;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: @surface1;
  box-shadow: inset 0 -3px @mauve;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  color: @text;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  margin-right: 20;
  margin-left: 20;
  box-shadow: inset 0 -3px @clock;
}

#clock:hover {
  background-color: @clock;
  color: @background;
  border-radius: 13;
  margin-bottom: 3;
}

#battery {
  box-shadow: inset 0 -3px @battery;
}

#battery:hover {
  background-color: @battery;
  color: @background;
  box-shadow: inset 0 -3px @background;
}

#battery.charging,
#battery.plugged {
  box-shadow: inset 0 -3px @battery_charging;
}

#battery.charging:hover,
#battery.plugged:hover {
  background-color: @battery_charging;
  color: @background;
  box-shadow: inset 0 -3px @background;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @battery_critical;
  color: @text;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon.performance {
  box-shadow: inset 0 -3px @power_profile_performance;
}

#power-profiles-daemon.performance:hover {
  background-color: @power_profile_performance;
  color: @background;
  box-shadow: inset 0 -3px @background;
}

#power-profiles-daemon.balanced {
  box-shadow: inset 0 -3px @power_profile_balanced;
}

#power-profiles-daemon.balanced:hover {
  background-color: @power_profile_balanced;
  color: @background;
  box-shadow: inset 0 -3px @background;
}

#power-profiles-daemon.power-saver {
  box-shadow: inset 0 -3px @power_profile_saver;
}

#power-profiles-daemon.power-saver:hover {
  background-color: @power_profile_saver;
  color: @background;
  box-shadow: inset 0 -3px @background;
}

label:focus {
  background-color: #000000;
}

#cpu {
  box-shadow: inset 0 -3px @cpu;
}

#memory {
  box-shadow: inset 0 -3px @memory;
}

#disk {
  box-shadow: inset 0 -3px @disk;
}

#backlight {
  box-shadow: inset 0 -3px @backlight;
}

#network {
  box-shadow: inset 0 -3px @network;
}

#network:hover {
  background-color: @network;
  color: @background;
  box-shadow: inset 0 -3px @background;
}

#network.disconnected {
  box-shadow: inset 0 -3px @network_disconnected;
}

#network.disconnected:hover {
  background-color: @network_disconnected;
  color: @background;
  box-shadow: inset 0 -3px @background;
}

#pulseaudio {
  box-shadow: inset 0 -3px @pulseaudio;
}

#pulseaudio:hover {
  background-color: @pulseaudio;
  color: @background;
  box-shadow: inset 0 -3px @background;
}

#pulseaudio.muted {
  box-shadow: inset 0 -3px @pulseaudio_muted;
}

#pulseaudio.muted:hover {
  background-color: @pulseaudio_muted;
  color: @background;
  box-shadow: inset 0 -3px @background;
}

#wireplumber {
  box-shadow: inset 0 -3px @wireplumber;
}

#wireplumber.muted {
  box-shadow: inset 0 -3px @wireplumber_muted;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  box-shadow: inset 0 -3px @temperature;
}

#temperature.critical {
  /* background-color: @temperature_critical; */
  box-shadow: inset 0 -3px @temperature_critical;
}

#tray {
  box-shadow: inset 0 -3px @tray;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  box-shadow: inset 0 -3px @idle_inhibitor;
}

#idle_inhibitor:hover {
  background-color: @idle_inhibitor;
  color: @background;
  box-shadow: inset 0 -3px @background;
}

#idle_inhibitor.activated {
  box-shadow: inset 0 -3px @idle_inhibitor_active;
}

#idle_inhibitor.activated:hover {
  background-color: @idle_inhibitor_active;
  color: @background;
  box-shadow: inset 0 -3px @background;
}

#mpd {
  box-shadow: inset 0 -3px #66cc99;
}

#mpd.disconnected {
  box-shadow: inset 0 -3px #f53c3c;
}

#mpd.stopped {
  box-shadow: inset 0 -3px #90b1b1;
}

#mpd.paused {
  box-shadow: inset 0 -3px #51a37a;
}

#language {
  box-shadow: inset 0 -3px @language;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  box-shadow: inset 0 -3px @keyboard_state;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  box-shadow: inset 0 -3px @privacy_screenshare;
}

#privacy-item.audio-in {
  box-shadow: inset 0 -3px @privacy_audio_in;
}

#privacy-item.audio-out {
  box-shadow: inset 0 -3px @privacy_audio_out;
}
